body {
   background-repeat: no-repeat;
   background-image: linear-gradient(0deg, rgb(37, 65, 37), rgb(193, 193, 193));
   display: flex;
   justify-content: flex-start;
   column-gap: 2%;
   flex: 1 1 0;
}

a {
   text-decoration: none;
}

nav {
   background-color: rgb(240, 255, 255, 0.3);
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   margin: 20px 0 0 20px;
   padding: 20px;
   border-radius: 15px;
   flex-direction: column;
   text-align: center;
   position: sticky;
   top: 30px;
   align-self: flex-start;
}

nav a {
   display: block;
   padding: .5rem 0;
}

main {
   margin-right: 30px;
}

footer {}

#about-me {
   background-color: rgb(240, 255, 255, 0.3);
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   margin-top: 20px;
   padding: 20px 0px;
   border-radius: 15px;
}

#portfolio {
   background-color: rgb(240, 255, 255, 0.3);
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   margin-top: 20px;
   padding: 20px 20px;
   border-radius: 15px;
}

#resume {
   background-color: rgb(240, 255, 255, 0.3);
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   margin-top: 20px;
   padding: 20px 20px;
   border-radius: 15px;
   text-align: center;
}

#contact-me {
   background-color: rgb(240, 255, 255, 0.3);
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   margin-top: 20px;
   padding: 20px 20px;
   border-radius: 15px;
}

#copyright {
   padding: 10px;
}

.introduction {
   display: flex;
   justify-content: flex-start;
   gap: 30px;
   flex-wrap: wrap;
}

.introduction-text {
   margin: 0 20px;
}

.profile-pic {
   height: 15rem;
   border-radius: 50%;
   margin-left: 100px;
   flex-wrap: wrap;
   align-self: center;
}

.center-text {
   text-align: center;
}

.project-images {}

.featured-thumb {}

.projects-thumb2 {}

.projects-thumb3 {}

.projects-thumb4 {}